aiohttp==3.6.2
amqp==2.4.1
async-timeout==2.0.1
attrs==19.3.0
autopep8==1.4.3
Babel==2.5.3
beautifulsoup4==4.6.0
billiard==3.5.0.4
cairocffi==0.8.0
CairoSVG==2.1.3
celery==4.2.0
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
diff-match-patch==20121119
Django==1.11.7
django-admin-lightweight-date-hierarchy==0.3.0
django-admin-multiple-choice-list-filter==0.1.1
django-admin-rangefilter==0.3.6
django-appconf==1.0.2
django-compressor==2.2
django-debug-toolbar==1.9.1
django-excel==0.0.9
django-filter==1.1.0
django-formtools==2.1
django-import-export==1.0.1
django-jet==1.0.7
django-material==1.2.2
django-otp==0.4.2
django-phonenumber-field==1.3.0
django-pipeline==1.6.14
django-silk==3.0.1
django-simple-history==2.6.0
django-solo==1.1.2
django-stubs==1.2.0
django-two-factor-auth==1.12
django-widget-tweaks==1.4.5
djangoql==0.10.0
djangorestframework==3.7.7
djangorestframework-stubs==0.3.0
drfdocs==0.0.11
et-xmlfile==1.0.1
everbug==1.24
factory-boy==2.11.1
Faker==0.9.2
gevent==1.3.4
gprof2dot==2016.10.13
greenlet==0.4.13
html5lib==1.0.1
huey==1.10.0
idna==2.6
idna-ssl==1.1.0
jdcal==1.3
Jinja2==2.10
kombu==4.2.1
lml==0.0.1
MarkupSafe==1.1.0
multidict==4.1.0
mypy==0.740
mypy-extensions==0.4.3
mysqlclient==1.3.12
odfpy==1.3.6
openpyxl==2.4.9
pdfkit==0.6.1
pdfrw==0.4
pendulum==1.4.4
phonenumberslite==8.8.10
Pillow==6.2.1
ply==3.11
pycodestyle==2.4.0
pycparser==2.18
pyexcel==0.5.6
pyexcel-io==0.5.5
pyexcel-webio==0.1.4
pyexcel-xls==0.5.5
pyexcel-xlsx==0.5.5
Pygments==2.3.0
Pyphen==0.9.4
python-dateutil==2.7.2
pytz==2018.5
pytzdata==2018.3
PyYAML==3.12
qrcode==4.0.4
raven==6.8.0
rcssmin==1.0.6
redis==2.10.6
regex==2018.6.21
requests==2.18.4
rjsmin==1.0.12
simplejson==3.16.0
six==1.11.0
sqlparse==0.2.4
tablib==0.12.1
telepot==12.6
text-unidecode==1.2
texttable==1.1.1
tinycss2==0.6.1
typed-ast==1.4.0
typing-extensions==3.7.4.1
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.22
vine==1.1.4
WeasyPrint==0.42
webencodings==0.5.1
xlrd==1.1.0
xlwt==1.3.0
xmltodict==0.11.0
yarl==1.1.1
