
.table-title{
    font-size: 18px;
    font-weight: bold;
}

.table-item{
    margin-bottom: 10px;
}

.history-table{

}

.back_to_bit{
    text-align: right;
    margin-top: 70px;
    margin-bottom: 25px;
    margin-right: 25px;
}