.title{
    color: darkblue;
    /*text-align: center;*/

}

.leftlink, .rightlink {
    float: left;
    width: 50%;
}
.rightlink {
    text-align: right;
}

ol {
    list-style-type: none; /* Убираем маркеры */
}

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
    padding: 1px 4px;
    margin: 0 -4px;
}

/*.highlight {*/
/*background-color: rgb(255,255,153);*/
/*}*/
.selectHighlight {
    background-color: yellow;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
    padding: 1px 4px;
    margin: 0 -4px;
    color: #ff0000;
}

.finded {
    color: white;
    background: #8A8A7B;
}

/*#logoimages {*/
    /*background-image: url('/static/images/photologo.jpg')*/
/*}*/

#search_block {
    position: fixed;
    right: 20px; /* Расстояние от правого края окна браузера */
    /*top: 12%; !* Расстояние сверху *!*/
    top: 85px; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    z-index: 2147483648;
    display: block;
    background-color: rgba(138, 138, 123, 0.55);
    /*background-color: #757575;*/

}

#count {
    /*color: #985f0d;*/
    /*color: #17bab8;*/
    color: #2C1FFF;
    /*color: #39B8B7;*/
}

#myModal, #myModallog, #myModalViewTran, #myModalgraph, #ModalViewPubSub, #ModalViewDSIREPParams {
    overflow: auto;
}

/*#myModallog {*/
/*overflow: auto;*/
/*}*/

/*#myModalViewTran {*/
/*overflow: auto;*/
/*}*/

/*#myModalgraph {*/
/*overflow: auto;*/
/*}*/

/*#ModalViewPubSub {*/
/*overflow: auto;*/
/*}*/


/*
Theme Name: jqueryui-com
Template: jquery
*/

a{
	color: #b24926;
}

.title {
	color: white;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}

.logo_img{
	margin-left: 5px;
}

#content a:hover {
	color: #333;
}

#banner-secondary p.intro {
	padding: 0;
	float: left;
	width: 50%;
}

#banner-secondary .download-box {
	border: 1px solid #aaa;
	background: #333;
	background: -webkit-linear-gradient(left, #333 0%, #444 100%);
	background: linear-gradient(to right, #333 0%, #444 100%);
	float: right;
	width: 40%;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#banner-secondary .download-box h2 {
	color: #71d1ff;
	font-size: 26px;
}

#banner-secondary .download-box .button {
	float: none;
	display: block;
	margin-top: 15px;
}

#banner-secondary .download-box p {
	margin: 15px 0 5px;
}

#banner-secondary .download-option {
	width: 45%;
	float: left;
	font-size: 16px;
}

#banner-secondary .download-legacy {
	float: right;
}

#banner-secondary .download-option span {
	display: block;
	font-size: 14px;
	color: #71d1ff;
}

#content .dev-links {
	float: right;
	width: 30%;
	margin: -15px -25px .5em 1em;
	padding: 1em;
	border: 1px solid #666;
	border-width: 0 0 1px 1px;
	border-radius: 0 0 0 5px;
	box-shadow: -2px 2px 10px -2px #666;
}

#content .dev-links ul {
	margin: 0;
}

#content .dev-links li {
	padding: 0;
	margin: .25em 0 .25em 1em;
	background-image: none;
}

.demo-list {
	float: right;
	width: 25%;
}

.demo-list h2 {
	font-weight: normal;
	margin-bottom: 0;
}

#content .demo-list ul {
	width: 100%;
	border-top: 1px solid #ccc;
	margin: 0;
}

#content .demo-list li {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0;
	background: #eee;
}

#content .demo-list .active {
	background: #fff;
}

#content .demo-list a {
	text-decoration: none;
	display: block;
	font-weight: bold;
	font-size: 13px;
	color: #3f3f3f;
	text-shadow: 1px 1px #fff;
	padding: 2% 4%;
}

.demo-frame {
	width: 70%;
	height: 420px;
}

.view-source a {
	cursor: pointer;
}

.view-source > div {
	overflow: hidden;
	display: none;
}

@media all and (max-width: 600px) {
	#banner-secondary p.intro,
	#banner-secondary .download-box {
		float: none;
		width: auto;
	}

	#banner-secondary .download-box {
		overflow: auto;
	}
}

@media only screen and (max-width: 480px) {
	#content .dev-links {
		width: 55%;
		margin: -15px -29px .5em 1em;
		overflow: hidden;
	}
}
