{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Modal dialog del alert -->
    <div id="bids_del" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Заявка</h4>
                </div>
                <div class="modal-body">
                    <p>Удалить данную заявку</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="delbidsyes" class="btn btn-success primary-btn" data-dismiss="modal">Да
                    </button>
                    <button type="button" id="delbidsno" class="btn btn-danger secondary-btn" data-dismiss="modal">Нет
                    </button>
                </div>
            </div>

        </div>
    </div>
     <div class="row">
                    <ul class="list-page-breadcrumb">
                        <li>
                            <a href="{% url 'bids' %}">Заявки<i class="zmdi zmdi-chevron-right"></i></a>
                            {% if perms.bids.view_bid_double %}<a href="{% url 'bidsdouble' %}">Дубли<i class="zmdi zmdi-chevron-right"></i></a>{% endif %}
                        </li>
                    </ul>
            </div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget-wrap">
                <div>
                    <div class="widget-header block-header clearfix">
                        <h3 style="color: #00008B ">Просмотр заявок</h3>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-3 unit">
                        <label class="tfh-label">Начало периода</label>
                        <div class="input">
                            <input type='text' class="form-control" id='datetimepickerbids1'
                            />
                        </div>
                    </div>
                    <div class="col-md-3 unit">
                        <label class="tfh-label">Конец периода</label>
                        <div class="input">
                            <input type='text' class="form-control" id='datetimepickerbids2'
                            />
                        </div>
                    </div>
                    <div class="col-md-3 unit">
                        <div class="data-align-left green_button-container">
                            <button id="filterbids" type="button" class="btn btn-primary green_button"
                                    onclick="filterbids()"
                                    disabled="disabled">Применить</button>
                        </div>
                    </div>

                    <div class="col-md-3 unit green_button-container">
                        <div class="data-align-right">
                            <a href="{% url 'bidsadd' %}" class="btn add-row btn-primary green_button">Добавить заявку</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" id="groupview">
                    <label class="tfh-label"></label>
                        <select name="groupitem" class="form-control" id="groupbids" data-regim="groupview">
                            <option value="0" selected>Выберите проект</option>
                            {% for post_gr in group_list %}
                                <option value="{{ post_gr.id }}">{{ post_gr.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 unit">
                        <label class="tfh-label"></label>
                        <div class="data-align-left">
                            <button id="migration_bids" type="button" class="btn btn-primary green_button"
                                    onclick="migration_bids()"
                                    disabled="disabled">Перебросить</button>
{#                            <a href="#" id="migration_bids" disabled="disable" class="btn add-row btn-primary">Перебросить</a>#}
                        </div>
                    </div>

                </div>

                {#            </div>#}
                <div class="widget-container">
                    <div class="widget-content">
                        <table class="table data-tbl-bids">
                            <thead>

                            <tr>
                                <th><h4>Выбор</h4></th>
                                <th><h4>Фамилия</h4></th>
                                <th><h4>Имя</h4></th>
                                <th><h4>Телефон</h4></th>
                                <th><h4>Статус</h4></th>
                                <th><h4>Дата создания</h4></th>
                                <th><h4>Дата обновления</h4></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                <th><h4>Выбор</h4></th>
                                <th><h4>Фамилия</h4></th>
                                <th><h4>Имя</h4></th>
                                <th><h4>Телефон</h4></th>
                                <th><h4>Статус</h4></th>
                                <th><h4>Дата создания</h4></th>
                                <th><h4>Дата обновления</h4></th>
                                <th></th>
                            </tr>
                            </tfoot>
                            <tbody id="bidsview">
                            {% for post in p_bids %}
                                <tr role="row" class="even">
                                    <td>
                                        <input id="my_checkbox_{{ post.pk }}" type="checkbox" class="checkbox_bids"
                                               data-zp_id="{{ post.id }}">
                                    </td>
                                    <td title="Двойное нажатие откроет редактор заявки"
                                        ondblclick="window.location.href='/bids/bidsedit/?edit_id={{ post.id }}'"
                                        style="width: 50px;cursor: pointer;">{{ post.user.profileuser.last_name}}</td>
                                    <td  title="Двойное нажатие откроет редактор заявки"
                                        ondblclick="window.location.href='/bids/bidsedit/?edit_id={{ post.id }}'"
                                        style="width: 50px;cursor: pointer;">{{ post.user.profileuser.first_name }}</td>
                                    <td>{{ post.user.profileuser.contact_phone }}</td>
                                    <td>{{ post.status }}</td>
                                    <td id="cr_data">{{ post.created_dt|date:"Y-m-d" }} {{ post.created_dt|time:"H:i" }}</td>
                                    <td>{{ post.updated_dt|date:"Y-m-d" }} {{ post.updated_dt|time:"H:i" }}</td>
                                    <td>
                                        <a title="Редактировать" class="row-edit" id="edit_{{ post.id }}"
                                           href="/bids/bidsedit/?edit_id={{ post.id }}"
                                           data-edit_id="{{ post.id }}"
                                        ><span class="zmdi zmdi-edit"></span></a>
                                        <a title="Удалить" class="row-delete" id="del_{{ post.id }}"
                                           onclick="bids_delete({{ post.id }},'add')"><span class="zmdi zmdi-close"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                           </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    </div>#}

{% endblock %}

