{% extends "base.html" %}
{% load static %}

{% block style %}
    <link type="text/css" rel="stylesheet" href={% static 'css/history.css' %}>
{% endblock style %}

{% block content %}
    <div class="row history_row">
        <div class="col-md-12">
        <div class="widget-wrap">
            <div class="widget-header block-header clearfix">
                <h3 style="color: #00008B ">История изменений статуса</h3>
            </div>
            <div class="table-title">
                <div class="col-md-6 table-item">Время</div>
                <div class="col-md-6 table-item">Статус</div>
            </div>

        {% for item in history_list %}
            <div class="history-table">
                <div class="col-md-6 history-item">{{ item.created_date }}</div>
                <div class="col-md-6 history-item">{{ item.new_status.name }}</div>
            </div>
        {% endfor %}

        <div class="back_to_bit">
            <button type="button" class="btn btn-danger secondary-btn" onclick="window.location.href='/bids/bidsedit/?edit_id={{ edit_id }}'">
                Назад к заявке
            </button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}