{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="widget-wrap">
                <div class="widget-header block-header clearfix">
                    <div class="row">
                        <p4 style="font-style:italic;text-decoration:underline">{{ user.username }}</p4>
                        <br>
                        <p4>Ошибка регистрации!!!</p4>
                        <br>
                        <p4>{{ error_er }} {{ error_desc }}</p4>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
