{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="widget-wrap">
                <div class="widget-header block-header clearfix">
                    <div class="row">
                        <p4 style="font-style:italic;text-decoration:underline">{{ user.username }}</p4>
                        <br>
                        <p4>Ваша группа Guest!!!</p4>
                        <br>
                        <p4>Для вас не доступна данная ссылка</p4>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
