{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="widget-wrap">
                <div class="widget-header block-header clearfix">
                    <div class="row">
                        <h3 style="color: #00008B " >Личный профиль</h3>
                        <p4 style="font-style:italic;text-decoration:underline">{{user.username  }}</p4>
                    </div>


                </div>
                <div class="widget-container">
                    <div class="widget-content">
                    <!--форма редактирования профиля -->
                      <div class="row">
                        <div class="col-md-3">
                            {% if request.user.profileuser.avatar.name == "" %}
                              <img src="{% static 'admmen.jpg' %}" width="50%" id="img_profileuser" >
                            {% else %}
                              <img src="{{ request.user.profileuser.avatar.url }}" width="50%" id="img_profileuser">
                            {% endif %}

                        </div>
                        <div class="col-md-9">
                            <form action="" method="POST" class="j-forms form-horizontal" enctype="multipart/form-data">
                            {% csrf_token %}
{#                            <div class="form-content">#}
                                <div class="form-group">
                                     <label class=" col-md-2 control-label">Фото профиля</label>
                                     <div class="col-md-10 unit">
                                          <div class="input append-small-btn">
                                               <div class="file-button">Browse
                                                        <input class="btn btn-success" id="avatar_file" type="file" accept="image/jpeg,image/png" name="avatar" >
                                               </div>
                                               <input type="text" class="form-control"  id="append-small-btn" readonly placeholder="no file selected"
{#                                                      {% if request.method == 'POST' %}value="{{ profile_form.instance.avatar }}" {% endif %}#}
                                                      value="{{ profile_form.instance.avatar }}"
                                               >
                                          </div>
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-md-2 control-label">Личные данные</label>
                                    <div class=" col-md-10">
                                        <div class="form-group-input">
                                            {% render_field profile_form.first_name class="form-control" placeholder="Имя" %}
                                            {% render_field profile_form.middle_name class="form-control" placeholder="Отчество" %}
                                            {% render_field profile_form.last_name class="form-control" placeholder="Фамилия" %}

                                            <div class="input-group date addon-datepicker">
                                                {% render_field profile_form.birthday class="form-control" placeholder="Дата рожденяия"  %}
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-md-2 control-label">Email</label>
                                    <div class=" col-md-10">
                                         <div class="form-group-input">
                                             {% render_field user_form.email class="form-control" %}
                                         </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-md-2 control-label">ID Vicidial</label>
                                    <div class=" col-md-10">
                                        <div class="form-group-input">
                                            {% render_field profile_form.vicidial_id class="form-control" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" col-md-2 control-label">Номер телефона</label>
                                    <div class=" col-md-10">
                                        <div class="form-group-input">
                                            {% render_field profile_form.contact_phone class="form-control" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class=" col-md-2 control-label">Адрес</label>
                                    <div class=" col-md-10">
                                        <div class="form-group-input">
                                            {% render_field profile_form.registration_area_fiz class="form-control" placeholder="Страна"  %}
                                            {% render_field profile_form.registration_raion_fiz class="form-control" placeholder="Район"  %}
                                            {% render_field profile_form.registration_city_fiz class="form-control" placeholder="Город" %}
                                            {% render_field profile_form.registration_street_fiz class="form-control" placeholder="Улица" %}
                                            {% render_field profile_form.house_number_fiz class="form-control" placeholder="Номер дома" %}
                                            {% render_field profile_form.apartment_number_fiz class="form-control" placeholder="Номер квартиры" %}
                                        </div>
                                    </div>
                                </div>

                                {{ contact_formset.management_form }}
                                {{ contact_formset.non_form_errors }}
                                <div class="row form-group">
                                    <label class=" col-md-2 control-label">Контакты близких</label>
                                    <div class="col-md-10">
                                        <div class="container-fluid">
                                        {% for contact_form in contact_formset %}
                                            <div class="row form-row spacer relative-contact-form">

                                                <div class="col-md-3">
                                                    <div class="form-group {% if contact_form.first_name.errors %}has-error{% endif %}">
                                                        {% for hidden in form.hidden_fields %}
                                                            {{ hidden }}
                                                        {% endfor %}
                                                        {{ contact_form.id }}
                                                        {% render_field contact_form.first_name class="form-control" placeholder="Имя"  %}
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group {% if contact_form.last_name.errors %}has-error{% endif %}">
                                                        {% render_field contact_form.last_name class="form-control" placeholder="Фамилия"  %}
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group {% if contact_form.phone_number.errors %}has-error{% endif %}">
                                                        {% render_field contact_form.phone_number class="form-control" placeholder="Номер телефона"  %}
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    {% if contact_form.instance.pk %}
                                                        {{ contact_form.DELETE }}
                                                    {% endif %}
                                                </div>
                                            </div>

{#                                            <div class="relative-contact-form form-inline">#}
{#                                                <div class="from-group col-md-4"> {% render_field contact_form.first_name class="form-control" placeholder="Имя"  %}</div>#}
{#                                                <div class="from-group col-md-4"> {% render_field contact_form.last_name class="form-control" placeholder="Фамилия"  %}</div>#}
{#                                                <div class="from-group col-md-4"> {% render_field contact_form.phone_number class="form-control" placeholder="Номер телефона"  %}</div>#}
{#                                                {{ contact_form.id }}#}
{#                                            </div>#}
                                        {% endfor %}
                                        <div class="row form-row spacer">
                                            <div class="add-button-place"></div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                <label class=" col-md-2 control-label">Коментарий</label>
                                <div class=" col-md-10">
                                    <div class="form-group-input">
                                        {% render_field profile_form.comment class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer">
                                 <button type="submit" class="btn btn-success primary-btn">Сохранить</button>
                                 <button type="reset" class="btn btn-danger secondary-btn">Очистить</button>
                            </div>

                            </form>
                        </div>

                       </div>
                        <!--end form edit profile -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block custom_scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
    $('.relative-contact-form').formset({
        addText: 'Добавить контакт',
        deleteText: 'Удалить',
        prefix: 'relative_contacts',
        deleteCssClass: 'delete btn btn-danger',
        addCssClass: 'add btn btn-success col-xs-6 col-xs-offset-6',
    });
    </script>
{% endblock %}
