{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>kvadra</title>
    <!-- Bootstrap -->
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'static/style.css' %}">

    <link type="text/css" rel="stylesheet" href={% static 'css/font-awesome.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'css/material-design-iconic-font.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'css/pages.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'css/animate.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'css/layout.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'css/components.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'css/widgets.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'css/plugins.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'css/bootstrap-extend.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'css/common.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'css/responsive.css' %}>

    <link type="text/css" id="themes" rel="stylesheet" href="">


    <div class="container">
        <div class="row">
            <div>
                <h1 class="title"> kvadra </h1>
            </div>
        </div>
    </div>
</head>


<body class="login-page">
<section class="login-container boxed-login">
    <div class="container">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
            <div class="login-form-container">
                <div class="login-form-header">
                    <div class="logo">
                        <a href="#" title="Сброс пароля"></a>
                    </div>
                </div>
                <form action="" method="post" class="j-forms" id="forms-login">{% csrf_token %}

                    <div class="login-form-content">
                        <div class="unit">
                            <div class="input login-input">
                                <label class="icon-left" for="login">
                                    <i class="zmdi zmdi-account"></i>
                                </label>
                                <input class="form-control login-frm-input" type="text" id="username" name="username"
                                       placeholder="Username"
                                       {% if request.method == 'POST' %}value="{{ form.username.value }}" {% endif %}
                                >
                            </div>
                        </div>
                        <div class="unit">
                            <div class="input login-input">
                                <label class="icon-left" for="login">
                                    <i class="zmdi zmdi-email"></i>
                                </label>
                                <input class="form-control login-frm-input" type="email" id="email" name="email"
                                       placeholder="Email"
                                        {% if request.method == 'POST' %} value="{{ form.email.value }}" {% endif %}
                                >
                            </div>
                        </div>
                        <!-- start response from server -->
                        <div class="response">
                            <!--ошибки по password -->
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <span class="error-view">
                                            <p>{{ error|escape }}</p>
                                            </span>
                                {% endfor %}
                            {% endif %}
                            <!--ошибки по repassword -->
                            {% if form.repassword.errors %}
                                {% for error in form.repassword.errors %}
                                    <span class="error-view">
                                            <p>{{ error|escape }}</p>
                                            </span>
                                {% endfor %}
                            {% endif %}
                            <!--ошибки не связанные с полями -->
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <span class="error-view">
                                            <p>{{ error|escape }}</p>
                                            </span>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <!-- end response from server -->

                    </div>
                    <div class="login-form-footer">
                        <button type="submit" class="btn-block btn btn-primary">Отправить письмо</button>

                    </div>
                </form>

            </div>

        </div>

    </div>
    <!--Footer Start Here -->
    <footer class="login-page-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                    <div class="footer-content">
                        <span class="footer-meta">Crafted with&nbsp;<i class="fa fa-heart"></i>&nbsp;by&nbsp;<a
                                href="/admin/">Vadim</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
</body>
{#{% endblock %}#}
</html>